{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript">
    function loadSource() {
        let audio = document.getElementsByTagName('audio')[0];
        let source = document.createElement('source');
        source.setAttribute('src', "{{ link|addslashes }}");
        audio.setAttribute('autoplay', "true");
        audio.appendChild(source);
    }
</script>


    <form method="POST">
        {% csrf_token %}
        <input type="text" name="textfield" placeholder="Insert text...">

        <button type="submit">Speak</button>
    </form>

    <audio>
        Your browser does not support the audio element.
    </audio>

    {% if link %}
        <script type="text/javascript">
            loadSource();
        </script>
    {% endif %}

{% endblock %}
